html,
body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: url(../img/pattern_square.png), linear-gradient(to bottom, $c-body-gradient 10%, $color-basic_black 100%);
}

@include object('header') {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.blur {
  -webkit-filter: blur(5px);
}

/* --------------------------------------- Aurelia Dialog Background Start ------------------------------------------- */

ai-dialog-overlay.active {
  background-color: black;
  opacity: 0.5 !important;
}

/* -----------------------------------==== [Aurelia Dialog Background End] ====----------------------------------------- */

/* --------------------------------------- TODO CLEANUP: FLAG #001 START --------------------------------------------- */
/* BECAUSE THESE STYLES ARE APPLIED TO HTML ELEMENTS THEY WILL NEED TO BE HANDLED WITH GREAT CARE BECAUSE SOME CLASSES MAY BE DEPENDANT ON THEM */

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

li {
  display: inline-block;
  list-style: none;
}

/* ------------------------------------==== [CLEANUP FLAG #001 END] ====------------------------------------------------ */

/* --------------------------------------- TODO CLEANUP: FLAG #003 START --------------------------------------------- */
/* THESE STYLES USE BROAD-SWEEPING CLASS NAMES AND EXTEND ON EACH OTHER. SO I'M NOT SURE WHAT THE REPERCUSSIONS COULD BE IF REMOVED OR CHANGED */

.message {
  @include border-radius();
  border: 1px solid $color-gray_alto;
  padding: 10px;
}

.success {
  @extend .message;
  border-color: $primary-color;
}

.error {
  @extend .message;
  border-color: $color-warning;
}

.warning {
  @extend .message;
  border-color: $color-warning;
}

.validation {
  display: none;
}

/* ------------------------------------==== [CLEANUP FLAG #003 END] ====------------------------------------------------ */

/* --------------------------------------- TODO CLEANUP: FLAG #007 START --------------------------------------------- */
          /* These classes are referenced in HTML files which I'm not sure are still being used or not */
.list_item_title_wrap {
  display: inline-block;
  margin-bottom: 20px;
  text-align: right;
  border-bottom: 1px solid $primary-color;
  padding: 0;
  @include breakpoint(xsmall) {
    margin-bottom: 15px;
    width: 100% !important;
  }
}

.list_items_title {
  font-family: $primary-font-regular;
  margin-right: -15px;
}

/* ------------------------------------==== [CLEANUP FLAG #007 END] ====------------------------------------------------ */

/* --------------------------------------- TODO CLEANUP: FLAG #012 START --------------------------------------------- */
        /* These animations are referenced in scanfingerprint.html and I'm not sure what to do with them */

/* *** FLashing items *** */

@-webkit-keyframes pulse {
  from {
    background-color: $c-pulse_first;
    -webkit-box-shadow: 0 0 9px $color-dark_mine-shaft;
  }
  50% {
    background-color: $c-pulse_second;
    -webkit-box-shadow: 0 0 18px $c-pulse_second;
  }
  to {
    background-color: $c-pulse_first;
    -webkit-box-shadow: 0 0 9px $color-dark_mine-shaft;
  }
}

@-webkit-keyframes blinker {
  from {
    opacity: 1.0;
  }
  to {
    opacity: 0.6;
  }
}

/* ------------------------------------==== [CLEANUP FLAG #012 END] ====------------------------------------------------ */

/* --------------------------------------------- Loader Start -------------------------------------------------------- */

.loader {
  z-index: 999999999999;
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0.7;
  left: 0;
  right: 0;
  margin: 0 a;
}

/* ----------------------------------------- Hexagon Loader Start ---------------------------------------------------- */

@include object('preloader') {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: url(../img/pattern_square.png), linear-gradient(to bottom, $c-body-gradient 10%, $color-basic_black 100%);
  z-index: 9999;
  position: relative;
  @include element('hexagon-wrapper') {
    position: relative;
    width: 204px;
    height: 224px;
  }
  @include element('hexagon') {
    transform: rotate(90deg);
    width: 200px;
    height: 200px;
    position: absolute;
    left: 100px;
    margin-left: -100px;
    top: 100px;
    margin-top: -100px;
  }
  @include element('hex-brick') {
    background: $primary-color;
    width: 30px;
    height: 17px;
    position: absolute;
    top: 5px;
    @include modifier('two') {
      transform: rotate(60deg);
    }
    @include modifier('three') {
      transform: rotate(-60deg);
    }
  }
  @include element('gel') {
    height: 30px;
    width: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    @include modifier('center-gel') {
      margin-left: -15px;
      margin-top: -15px;
      animation-name: preloader-pulse;
      animation-duration: 2s;
      animation-iteration-count: infinite;
    }
    @include modifier('ring-one') {
      animation-name: preloader-pulse;
      animation-duration: 2s;
      animation-iteration-count: infinite;
      animation-delay: .1s;
    }
    @include modifier('ring-two') {
      animation-name: preloader-pulse;
      animation-duration: 2s;
      animation-iteration-count: infinite;
      animation-delay: .3s;
    }
    @include modifier('ring-three') {
      animation-name: preloader-pulse;
      animation-duration: 2s;
      animation-iteration-count: infinite;
      animation-delay: .6s;
    }
    @include modifier('1') {
      margin-left: -47px;
      margin-top: -15px;
    }
    @include modifier('2') {
      margin-left: -31px;
      margin-top: -43px;
    }
    @include modifier('3') {
      margin-left: 1px;
      margin-top: -43px;
    }
    @include modifier('4') {
      margin-left: 17px;
      margin-top: -15px;
    }
    @include modifier('5') {
      margin-left: -31px;
      margin-top: 13px;
    }
    @include modifier('6') {
      margin-left: 1px;
      margin-top: 13px;
    }
    @include modifier('7') {
      margin-left: -63px;
      margin-top: -43px;
    }
    @include modifier('8') {
      margin-left: 33px;
      margin-top: -43px;
    }
    @include modifier('9') {
      margin-left: -15px;
      margin-top: 41px;
    }
    @include modifier('10') {
      margin-left: -63px;
      margin-top: 13px;
    }
    @include modifier('11') {
      margin-left: 33px;
      margin-top: 13px;
    }
    @include modifier('12') {
      margin-left: -15px;
      margin-top: -71px;
    }
    @include modifier('13') {
      margin-left: -47px;
      margin-top: -71px;
    }
    @include modifier('14') {
      margin-left: 17px;
      margin-top: -71px;
    }
    @include modifier('15') {
      margin-left: -47px;
      margin-top: 41px;
    }
    @include modifier('16') {
      margin-left: 17px;
      margin-top: 41px;
    }
    @include modifier('17') {
      margin-left: -79px;
      margin-top: -15px;
    }
    @include modifier('18') {
      margin-left: 49px;
      margin-top: -15px;
    }
    @include modifier('19') {
      margin-left: -63px;
      margin-top: -99px;
    }
    @include modifier('20') {
      margin-left: 33px;
      margin-top: -99px;
    }
    @include modifier('21') {
      margin-left: 1px;
      margin-top: -99px;
    }
    @include modifier('22') {
      margin-left: -31px;
      margin-top: -99px;
    }
    @include modifier('23') {
      margin-left: -63px;
      margin-top: 69px;
    }
    @include modifier('24') {
      margin-left: 33px;
      margin-top: 69px;
    }
    @include modifier('25') {
      margin-left: 1px;
      margin-top: 69px;
    }
    @include modifier('26') {
      margin-left: -31px;
      margin-top: 69px;
    }
    @include modifier('27') {
      margin-left: -79px;
      margin-top: -15px;
    }
    @include modifier('28') {
      margin-left: -95px;
      margin-top: -43px;
    }
    @include modifier('29') {
      margin-left: -95px;
      margin-top: 13px;
    }
    @include modifier('30') {
      margin-left: 49px;
      margin-top: 41px;
    }
    @include modifier('31') {
      margin-left: -79px;
      margin-top: -71px;
    }
    @include modifier('32') {
      margin-left: -111px;
      margin-top: -15px;
    }
    @include modifier('33') {
      margin-left: 65px;
      margin-top: -43px;
    }
    @include modifier('34') {
      margin-left: 65px;
      margin-top: 13px;
    }
    @include modifier('35') {
      margin-left: -79px;
      margin-top: 41px;
    }
    @include modifier('36') {
      margin-left: 49px;
      margin-top: -71px;
    }
    @include modifier('37') {
      margin-left: 81px;
      margin-top: -15px;
    }
  }
  @include element('text-wrapper') {
    position: relative;
    width: 100%;
    height: 16px;
    margin-top: 10px;
  }
  @include element('text') {
    @include fontsize('large');
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    color: $color-basic_white;
    opacity: 0;
    animation-duration: 35s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    @include modifier('one') {
      animation-name: preloader-text-cycle1;
    }
    @include modifier('two') {
      animation-name: preloader-text-cycle2;
    }
    @include modifier('three') {
      animation-name: preloader-text-cycle3;
    }
    @include modifier('four') {
      animation-name: preloader-text-cycle4;
    }
    @include modifier('five') {
      animation-name: preloader-text-cycle5;
    }
  }
}

/* -------------------------------------==== [Hexagon Loader End] ====------------------------------------------------ */

/* ----------------------------------------- Loader Keyframes Start -------------------------------------------------- */

@keyframes preloader-pulse {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(0.01);
    opacity: 0.1;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes preloader-text-cycle1 {
  0% {
    opacity: 0;
  }
  3% {
    opacity: 1;
  }
  15% {
    opacity: 1;
  }
  20% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@keyframes preloader-text-cycle2 {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 0;
  }
  23% {
    opacity: 1;
  }
  35% {
    opacity: 1;
  }
  40% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@keyframes preloader-text-cycle3 {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 0;
  }
  43% {
    opacity: 1;
  }
  55% {
    opacity: 1;
  }
  60% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@keyframes preloader-text-cycle4 {
  0% {
    opacity: 0;
  }
  60% {
    opacity: 0;
  }
  63% {
    opacity: 1;
  }
  75% {
    opacity: 1;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@keyframes preloader-text-cycle5 {
  0% {
    opacity: 0;
  }
  80% {
    opacity: 0;
  }
  83% {
    opacity: 1;
  }
  95% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

/* -------------------------------------==== [Loader Keyframes End] ====---------------------------------------------- */

/* -------------------------------------------==== [Loader End] ====-------------------------------------------------- */