@import '_assets/css/croppie.css';
@import '_assets/css/intlTelInput.scss';
@import '_assets/css/sprite';
@import '_assets/css/sprite@2x';
@import '_assets/css/bootstrap.min.css';

// @import '../node_modules/sass-bem-constructor/dist/_bem-constructor.scss';

// @import '_assets/css/_variables'; //Imports the global variables that will be used all over the application
// @import '_assets/css/fonts'; //this will import all the font styles
// @import '_assets/css/buttons'; //this will import all the button styles
// @import '_assets/css/navigation'; //this will import all the navigation styles
// @import '_assets/css/bootstrap-xl'; //Imports the custom xl grid that we built
// @import '_assets/css/icons'; //Imports the common styles for icons
// @import '_assets/css/utilities'; //Imports the common styles for utlities
// @import '_assets/css/_mixins.scss'; //Imports the common styles for mixins

@import 'components/index';

/* Pretty printing styles. Used with prettify.js. */
/* Vim sunburst theme by David Leibovic */

pre {
  overflow-x: hidden;
}

pre .str,
code .str {
  color: #65b042;
} /* string  - green */
pre .kwd,
code .kwd {
  color: #e28964;
} /* keyword - dark pink */
pre .com,
code .com {
  color: #aeaeae;
  font-style: italic;
} /* comment - gray */
pre .typ,
code .typ {
  color: #89bdff;
} /* type - light blue */
pre .lit,
code .lit {
  color: #3387cc;
} /* literal - blue */
pre .pun,
code .pun {
  color: #fff;
} /* punctuation - white */
pre .pln,
code .pln {
  color: #fff;
} /* plaintext - white */
pre .tag,
code .tag {
  color: #89bdff;
} /* html/xml tag    - light blue */
pre .atn,
code .atn {
  color: #bdb76b;
} /* html/xml attribute name  - khaki */
pre .atv,
code .atv {
  color: #65b042;
} /* html/xml attribute value - green */
pre .dec,
code .dec {
  color: #3387cc;
} /* decimal - blue */

pre.prettyprint,
code.prettyprint {
  background-color: #000;
  border-radius: 8px;
}

pre.prettyprint {
  width: 95%;
  margin: 0 auto 1em;
  padding: 1em;
  white-space: pre-wrap;
}

/* Specify class=linenums on a pre to get line numbering */
ol.linenums {
  margin-top: 0;
  margin-bottom: 0;
  color: #aeaeae;
} /* IE indents via margin-left */
li.L0,
li.L1,
li.L2,
li.L3,
li.L5,
li.L6,
li.L7,
li.L8 {
  list-style-type: none;
  list-style-type: decimal !important;
}
/* Alternate shading for lines */
li.L1,
li.L3,
li.L5,
li.L7,
li.L9 {
  background: #1e1e1e !important;
}

@media print {
  pre .str,
  code .str {
    color: #060;
  }
  pre .kwd,
  code .kwd {
    color: #006;
    font-weight: bold;
  }
  pre .com,
  code .com {
    color: #600;
    font-style: italic;
  }
  pre .typ,
  code .typ {
    color: #404;
    font-weight: bold;
  }
  pre .lit,
  code .lit {
    color: #044;
  }
  pre .pun,
  code .pun {
    color: #440;
  }
  pre .pln,
  code .pln {
    color: #000;
  }
  pre .tag,
  code .tag {
    color: #006;
    font-weight: bold;
  }
  pre .atn,
  code .atn {
    color: #404;
  }
  pre .atv,
  code .atv {
    color: #060;
  }
}

/* -------------- tab styles start ------------- */
#container {
  margin: 0 auto;
  width: 80%; /* Ancho del contenedor */
}

#container input {
  height: 2.5em;
  visibility: hidden;
}

#container label {
  background: #f9f9f9; /* Fondo de las pestañas */
  border-radius: 0.25em 0.25em 0 0;
  color: #888; /* Color del texto de las pestañas */
  cursor: pointer;
  display: block;
  float: left;
  font-size: 1em; /* Tamaño del texto de las pestañas */
  height: 2.5em;
  line-height: 2.5em;
  margin-right: 0.25em;
  padding: 0 1.5em;
  text-align: center;
}

#container input:hover + label {
  background: #ddd; /* Fondo de las pestañas al pasar el cursor por encima */
  color: #666; /* Color del texto de las pestañas al pasar el cursor por encima */
}

#container input:checked + label {
  background: #f1f1f1; /* Fondo de las pestañas al presionar */
  color: #444; /* Color de las pestañas al presionar */
  position: relative;
  z-index: 6;
  /*
-webkit-transition: .1s;
-moz-transition: .1s;
-o-transition: .1s;
-ms-transition: .1s;
*/
}

#content {
  // background: #f1f1f1; /* Fondo del contenido */
  border-radius: 0 0.25em 0.25em 0.25em;
  min-height: 20em; /* Alto del contenido */
  position: relative;
  width: 100%;
  z-index: 5;
}

#content div {
  opacity: 0;
  width: 100%;
  height: 100%;
  // padding: 1.5em;
  position: absolute;
  // z-index: -100;
  display: none;
  /*
transition: all linear 0.1s;
*/
}

#content pre {
  width: 100%;
  min-height: 20em;
}

#content-1 p {
  clear: both;
  margin-bottom: 1em;
}
#content-1 p.left img {
  float: left;
  margin-right: 1em;
}
#content-1 p.last {
  margin-bottom: 0;
}

#content-2 p {
  float: left;
  width: 48.5%;
}
#content-2 p.column-right {
  margin-left: 3%;
}
#content-2 p img {
  display: block;
  margin: 0 auto 1em auto;
}
#content-3 p,
#content-3 ul {
  margin-bottom: 1em;
}
#content-3 ul {
  margin-left: 2em;
}

#container input#tab-1:checked ~ #content #content-1,
#container input#tab-2:checked ~ #content #content-2,
#container input#tab-3:checked ~ #content #content-3 {
  opacity: 1;
  // z-index: 100;
  display: block;
}
/* -------------- tab styles end ------------- */

li {
  list-style-type: none;
}
